@model CustomIdentityApp.ViewModels.LoginViewModel

    <div class="container text-center mt-5">
        <div>
            <h2>Вход в приложение</h2>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label class="col-form-label" asp-for="Name"></label><br />
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div class="pt-3">
                    <input type="submit" class="btn btn-success" value="Войти" />
                    <input type="submit" class="btn btn-link" value="Регистрация" asp-controller="Account" asp-action="Register" />
                </div>
            </form>
        </div>
    </div>

